In [32]:
%matplotlib notebook
import numpy as np # linear algebra
import pandas as pd # data processing
import seaborn as sns  # data visualization library  
import matplotlib.pyplot as plt

In [84]:
df_transaction_train = pd.read_csv("train_transaction.csv")
df_transaction_train.head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [85]:
df_transaction_train.shape

(590540, 394)

## Drop the columns with 85% or more null values

In [86]:
data = df_transaction_train.copy()
data.shape

(590540, 394)

In [41]:
list_drop_89 = []
for i in list(range(6,10)):
    add ="D" + str(i)
    #print(add)
    list_drop_89.append(add)
for i in list(range(12,15)):
    add ="D" + str(i)
    #print(add)
    list_drop_89.append(add)
print(list_drop_89)

['D6', 'D7', 'D8', 'D9', 'D12', 'D13', 'D14']

In [36]:
list_drop_86 = []
for i in list(range(138,167)):
    add ="V" + str(i) 
    #print(add)
    list_drop_86.append(add)
print(list_drop_86)

['V138', 'V139', 'V140', 'V141', 'V142', 'V143', 'V144', 'V145', 'V146', 'V147', 'V148', 'V149', 'V150', 'V151', 'V152', 'V153', 'V154', 'V155', 'V156', 'V157', 'V158', 'V159', 'V160', 'V161', 'V162', 'V163', 'V164', 'V165', 'V166']

In [37]:
list_drop_85 = []
for i in list(range(323,340)):
    add ="V" + str(i) 
    #print(add)
    list_drop_85.append(add)
print(list_drop_85)

['V323', 'V324', 'V325', 'V326', 'V327', 'V328', 'V329', 'V330', 'V331', 'V332', 'V333', 'V334', 'V335', 'V336', 'V337', 'V338', 'V339']

In [87]:
data.drop(list_drop_89, 1,inplace = True)
data.drop(list_drop_86, 1,inplace = True)
data.drop(list_drop_85, 1,inplace = True)

<ipython-input-87-6ada9997ff9e>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data.drop(list_drop_89, 1,inplace = True)
<ipython-input-87-6ada9997ff9e>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data.drop(list_drop_86, 1,inplace = True)
<ipython-input-87-6ada9997ff9e>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data.drop(list_drop_85, 1,inplace = True)

In [88]:
data.shape

(590540, 341)

## clean up the features based on their email domain (“P_emaildomain” and “R_emaildomain”)
we need to clean up the features based on their email domain (“P_emaildomain” and “R_emaildomain”). Because some of the email domain will separate from the different countries. For example, “yahoo.co.jp”, “yahoo.de”, “yahoo.fr”. What we need here is just the information of email provider. So, all three records above will be converted to “yahoo”

In [103]:
p = data['P_emaildomain'].unique()
p_new = np.delete(p,0,0)
p_new.sort()
p_new

array(['Gmail', 'Hotmail', 'Live', 'Netzero', 'Outlook', 'Yahoo',
       'aim.com', 'anonymous.com', 'aol.com', 'att.net', 'bellsouth.net',
       'cableone.net', 'centurylink.net', 'cfl.rr.com', 'charter.net',
       'comcast.net', 'cox.net', 'earthlink.net', 'embarqmail.com',
       'frontier.com', 'frontiernet.net', 'gmx.de', 'icloud.com',
       'juno.com', 'mac.com', 'mail.com', 'me.com', 'msn.com',
       'optonline.net', 'prodigy.net.mx', 'protonmail.com', 'ptd.net',
       'q.com', 'roadrunner.com', 'rocketmail.com', 'sbcglobal.net',
       'sc.rr.com', 'servicios-ta.com', 'suddenlink.net', 'twc.com',
       'verizon.net', 'web.de', 'windstream.net'], dtype=object)

In [106]:
p_new.size

43

In [105]:
data['P_emaildomain'].unique()

array([nan, 'Gmail', 'Outlook', 'Yahoo', 'mail.com', 'anonymous.com',
       'Hotmail', 'verizon.net', 'aol.com', 'me.com', 'comcast.net',
       'optonline.net', 'cox.net', 'charter.net', 'rocketmail.com',
       'prodigy.net.mx', 'embarqmail.com', 'icloud.com', 'Live',
       'att.net', 'juno.com', 'sbcglobal.net', 'bellsouth.net', 'msn.com',
       'q.com', 'centurylink.net', 'servicios-ta.com', 'earthlink.net',
       'cfl.rr.com', 'roadrunner.com', 'Netzero', 'gmx.de',
       'suddenlink.net', 'frontiernet.net', 'windstream.net',
       'frontier.com', 'mac.com', 'aim.com', 'web.de', 'twc.com',
       'cableone.net', 'sc.rr.com', 'ptd.net', 'protonmail.com'],
      dtype=object)

In [91]:
data.loc[data['P_emaildomain'].isin(['yahoo.co.jp','yahoo.co.uk', 'yahoo.com', 'yahoo.com.mx', 'yahoo.de', 'yahoo.es',
       'yahoo.fr', 'ymail.com']),'P_emaildomain'] = "Yahoo"

In [92]:
data.loc[data['P_emaildomain'].isin(['gmail','gmail.com']),'P_emaildomain'] = "Gmail"

In [93]:
data.loc[data['P_emaildomain'].isin(['hotmail.co.uk','hotmail.com','hotmail.de', 'hotmail.es', 'hotmail.fr']),'P_emaildomain'] = "Hotmail"

In [94]:
data.loc[data['P_emaildomain'].isin(['live.com', 'live.com.mx', 'live.fr']),'P_emaildomain'] = "Live"

In [95]:
data.loc[data['P_emaildomain'].isin(['outlook.com', 'outlook.es']),'P_emaildomain'] = "Outlook"

In [97]:
data.loc[data['P_emaildomain'].isin(['netzero.com', 'netzero.net']),'P_emaildomain'] = "Netzero"

In [117]:
data['R_emaildomain'].unique()

array([nan, 'Gmail', 'Hotmail', 'Outlook', 'anonymous.com', 'charter.net',
       'prodigy.net.mx', 'comcast.net', 'Live', 'icloud.com', 'Yahoo',
       'aol.com', 'juno.com', 'att.net', 'verizon.net', 'bellsouth.net',
       'servicios-ta.com', 'msn.com', 'optonline.net', 'gmx.de',
       'aim.com', 'mail.com', 'me.com', 'cox.net', 'earthlink.net',
       'embarqmail.com', 'web.de', 'sbcglobal.net', 'scranton.edu',
       'mac.com', 'twc.com', 'roadrunner.com', 'frontiernet.net', 'q.com',
       'windstream.net', 'suddenlink.net', 'ptd.net', 'frontier.com',
       'cfl.rr.com', 'Netzero', 'rocketmail.com', 'centurylink.net',
       'protonmail.com', 'cableone.net', 'sc.rr.com'], dtype=object)

In [118]:
R = data['R_emaildomain'].unique()
R_new = np.delete(R,0,0)
R_new.sort()
R_new

array(['Gmail', 'Hotmail', 'Live', 'Netzero', 'Outlook', 'Yahoo',
       'aim.com', 'anonymous.com', 'aol.com', 'att.net', 'bellsouth.net',
       'cableone.net', 'centurylink.net', 'cfl.rr.com', 'charter.net',
       'comcast.net', 'cox.net', 'earthlink.net', 'embarqmail.com',
       'frontier.com', 'frontiernet.net', 'gmx.de', 'icloud.com',
       'juno.com', 'mac.com', 'mail.com', 'me.com', 'msn.com',
       'optonline.net', 'prodigy.net.mx', 'protonmail.com', 'ptd.net',
       'q.com', 'roadrunner.com', 'rocketmail.com', 'sbcglobal.net',
       'sc.rr.com', 'scranton.edu', 'servicios-ta.com', 'suddenlink.net',
       'twc.com', 'verizon.net', 'web.de', 'windstream.net'], dtype=object)

In [109]:
data.loc[data['R_emaildomain'].isin(['yahoo.co.jp','yahoo.co.uk', 'yahoo.com', 'yahoo.com.mx', 'yahoo.de', 'yahoo.es',
       'yahoo.fr', 'ymail.com']),'R_emaildomain'] = "Yahoo"

In [110]:
data.loc[data['R_emaildomain'].isin(['gmail','gmail.com']),'R_emaildomain'] = "Gmail"

In [111]:
data.loc[data['R_emaildomain'].isin(['hotmail.co.uk','hotmail.com','hotmail.de', 'hotmail.es', 'hotmail.fr']),'R_emaildomain'] = "Hotmail"

In [112]:
data.loc[data['R_emaildomain'].isin(['live.com', 'live.com.mx', 'live.fr']),'R_emaildomain'] = "Live"

In [113]:
data.loc[data['R_emaildomain'].isin(['outlook.com', 'outlook.es']),'R_emaildomain'] = "Outlook"

In [114]:
data.loc[data['R_emaildomain'].isin(['netzero.com', 'netzero.net']),'R_emaildomain'] = "Netzero"