In [1]:
import numpy as np
import pandas as pd
import torch
from collections import defaultdict

In [2]:
# Products, departments and aisles
product_df = pd.read_csv("./data/products.csv")
aisles_df = pd.read_csv("./data/aisles.csv")
deparments_df = pd.read_csv("./data/departments.csv")
products_df = product_df.merge(deparments_df, on="department_id", how="left")
products_df = products_df.merge(aisles_df, on="aisle_id", how="left")

# Order informations
dist_store_df = pd.read_csv("./data/orders_distance_stores_softmax.csv")
dist_store_df = dist_store_df.drop("Unnamed: 0", axis=1)
prod_prior_df = pd.read_csv("./data/order_products__prior_specials.csv")
prod_prior_df = prod_prior_df.drop("Unnamed: 0", axis=1)
merged_df = prod_prior_df.merge(dist_store_df, on="order_id")

basic_info_df = pd.DataFrame([
    ["orders_distance_stores_softmax", dist_store_df.shape[0], dist_store_df.shape[1]],
    ["order_products_prior_specials", prod_prior_df.shape[0], prod_prior_df.shape[1]],
    ["merged", merged_df.shape[0], merged_df.shape[1]]
    ],
    columns=["File", "# Instances", "# Attributes"]
)
basic_info_df.head(10)

                             File  # Instances  # Attributes
0  orders_distance_stores_softmax       136026             9
1   order_products_prior_specials      1172312             5
2                          merged      1172312            13

In [3]:
# Columns with unique values
uniq_cols = list(merged_df.columns[merged_df.nunique() == 1])

# Columns with invalid values
nan_cols = list(merged_df.columns[merged_df.isna().any()])

print("Unique columns: {}".format(uniq_cols))
print("NaN columns: {}".format(nan_cols))

# NaN values days_since_prior_order come from items bought twice on the same day.
# Replace the values with with zeros
merged_df["days_since_prior_order"] = merged_df["days_since_prior_order"].fillna(0)
# Remove columns with unique values
merged_df = merged_df.drop(uniq_cols, axis=1)

assert len(list(merged_df.columns[merged_df.nunique() == 1])) == 0, "There are still columns with unique values"
assert len(list(merged_df.columns[merged_df.isna().any()])) == 0, "There are still columns with NaN values"

Unique columns: ['eval_set']
NaN columns: ['days_since_prior_order']

In [4]:
# Merge product information with orders
full_df = merged_df.merge(products_df, on="product_id", how="left")
full_df.head(5)

n_products = full_df["product_id"].nunique()
n_stores = full_df["store_id"].nunique()
n_users = full_df["user_id"].nunique()
n_departments = full_df["department_id"].nunique()
n_aisles = full_df["aisle_id"].nunique()
n_orders = full_df["order_id"].nunique()
n_target_rows = int(len(merged_df) * 0.05)

print("Target num rows: %d\nCur num rows: %d\nNum rows to remove: %d" % (n_target_rows, len(full_df), len(full_df) - n_target_rows))
basic_info_df = pd.DataFrame(
    [[n_products, n_departments, n_aisles, n_stores, n_users, n_orders]],
    columns=["# Products", "# Departments", "# Aisles", "# Stores", "# Users", "# Orders"]
)
basic_info_df

Target num rows: 58615
Cur num rows: 1172312
Num rows to remove: 1113697

   # Products  # Departments  # Aisles  # Stores  # Users  # Orders
0       24860             21       134        10     1374    136026

In [7]:
#a = pd.pivot_table(merged_df, index = ['store_id'], values = ['order_id'], aggfunc = {'order_id' : pd.Series.nunique})

# Products that are being ordered the most per seller
# Products that are being ordered the most in general
#b = pd.pivot_table(merged_df, index = ['store_id', 'name'], values = ['product_id'], aggfunc = 'count')

# Sum of the quantity field for each product to check how many times has been order
#c = pd.pivot_table(merged_df, index = ['name'], values = ['product_id', 'quantity'], aggfunc = {'product_id': 'count', 'quantity': 'sum'})

# Number of orders for each customer
d = pd.crosstab(merged_df.user_id, merged_df.order_id)
d

In [13]:
merged_df[['user_id', 'order_id']].groupby(['user_id', 'order_id']).size()

user_id  order_id
210      12659       23
         27316       38
         46152       31
         90696       23
         110472      13
                     ..
206105   3224249      2
         3262881      4
         3263743      4
         3276477      6
         3367002      2
Length: 136026, dtype: int64

In [32]:
def count_distinct(dataframe, groupby_col, count_col):
    d = defaultdict()
    for row in dataframe.itertuples():
        uid = getattr(row, groupby_col)
        d[uid] = set()

    for row in dataframe.itertuples():
        uid = getattr(row, groupby_col)
        count_attr = getattr(row, count_col)
        d[uid].add(count_attr)

    df_count_col_name = "%s_count" % count_col
    d = {groupby_col: d.keys(), df_count_col_name: [len(v) for v in d.values()]}
    return pd.DataFrame.from_dict(d).sort_values(by=df_count_col_name)

In [33]:
users_n_order_df = count_distinct(merged_df, "user_id", "order_id")
print(users_n_order_df)

products_n_order_df = count_distinct(merged_df, "product_id", "order_id")
print(products_n_order_df)

In [38]:
products_n_order_df["order_id_count"].describe()

count    24860.000000
mean        47.156557
std        279.135105
min          1.000000
25%          2.000000
50%          6.000000
75%         25.000000
max      17652.000000
Name: order_id_count, dtype: float64

In [68]:
n_products = products_n_order_df["product_id"].nunique()
mask = products_n_order_df["order_id_count"] < 6
to_remove = products_n_order_df[mask]["product_id"].unique()

print("Number of products: %d" % n_products)
print("Number products to remove: %d" % len(to_remove))
print("Number of remaining products: %d" % (n_products - len(to_remove)))

n_rows_before = len(merged_df)
mask = merged_df["product_id"].isin(to_remove)
merged_df_prime = merged_df.drop(merged_df[mask].index)
n_rows_after = len(merged_df_prime)

print("Num rows to remove: %d\nNum remaining rows: %d" % (mask.sum(), n_rows_after))

Number of products: 22120
Number products to remove: 11983
Number of remaining products: 10137
Num rows to remove: 26086
Num remaining rows: 1146226

In [57]:
products_n_users_df = count_distinct(merged_df_prime, "product_id", "user_id")
products_n_users_df

       product_id  user_id_count
3873        41906              1
12197       43794              1
6986        40344              1
9124         9796              1
11092       48139              1
...           ...            ...
60          24852            739
117         21903            741
120         47209            775
36          13176            907
26          21137            929

[12877 rows x 2 columns]

In [59]:
products_n_users_df["user_id_count"].describe()

count    12877.000000
mean        19.077658
std         43.835146
min          1.000000
25%          4.000000
50%          7.000000
75%         17.000000
max        929.000000
Name: user_id_count, dtype: float64

In [69]:
mask = products_n_users_df["user_id_count"] < 4
to_remove = products_n_users_df[mask]["product_id"].unique()

print("Number of products: %d" % n_products)
print("Number products to remove: %d" % len(to_remove))
print("Number of remaining products: %d" % (n_products - len(to_remove)))

n_rows_before = len(merged_df_prime)
mask = merged_df["product_id"].isin(to_remove)
merged_df_prime = merged_df_prime.drop(merged_df_prime[mask].index)
n_rows_after = len(merged_df_prime)
print("Num rows to remove: %d\nNum remaining rows: %d" % (mask.sum(), n_rows_after))

Number of products: 22120
Number products to remove: 2740
Number of remaining products: 19380
Num rows to remove: 37587
Num remaining rows: 1108639

C:\Users\verdi\AppData\Local\Temp\ipykernel_22792\4098574958.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  merged_df_prime = merged_df_prime.drop(merged_df_prime[mask].index)

In [70]:
users_n_order_df = count_distinct(merged_df_prime, "user_id", "order_id")
assert users_n_order_df["order_id_count"].min() > 1, "Il reste des utilisateurs avec une seule commande."

products_n_order_df = count_distinct(merged_df_prime, "product_id", "order_id")
assert products_n_order_df["order_id_count"].min() > 1, "Il reste des produits présents seulement dans une commande"

products_n_order_df = count_distinct(merged_df_prime, "product_id", "user_id")
assert products_n_order_df["user_id_count"].min() > 1, "Il reste des produits achetés seulement par un consommateur"

      user_id  order_id_count
1200   117101              67
1231   151840              79
895    182854              81
1372     4284              81
483    127547              81
...       ...             ...
509     59604              99
508     62772              99
506    120840              99
514    184451              99
1373    85247              99

[1374 rows x 2 columns]
       product_id  order_id_count
10136         506               6
9671        25525               6
9926        42204               6
5901         3591               6
5932        19011               6
...           ...             ...
114         21903            9594
117         47209           10654
26          21137           13163
60          24852           16466
36          13176           17652

[10137 rows x 2 columns]

In [43]:
import duckdb 
t1 = duckdb.query("select user_id, count(order_id) AS n_orders from merged_df group by user_id, order_id").df().sort_values(by="n_orders")
t1

       user_id  n_orders
59387    26489         1
95957   110851         1
79318    49159         1
95955   195449         1
36574   198709         1
...        ...       ...
89651   201268        92
10877   201268        92
78732   201268        94
15168   201268        98
92586   201268        98

[136026 rows x 2 columns]

In [46]:
(t1["user_id"] == 201268).sum()

99

In [6]:
# Retirer les consommateurs avec peu de commandes
users_to_remove = t1[(t1["n_orders"] < 4)]["user_id"].unique()
t1 = t1.drop(t1[t1["n_orders"] < 4].index)
subset_df = merged_df.drop(merged_df[merged_df["user_id"].isin(users_to_remove)].index)
n_users = subset_df["user_id"].nunique()
print("Removing {} users helped reduce the number of orders by {}".format(len(users_to_remove), len(merged_df) - len(subset_df)))
subset_df

Removing 1314 users helped reduce the number of orders by 1080355

,order_id,product_id,add_to_cart_order,reordered,special,user_id,store_id,distance,order_number,order_dow,order_hour_of_day,days_since_prior_order
44,185,23165,1,1,0,172793,8,0.677334,72,3,1,2.0
45,185,24964,2,1,0,172793,8,0.677334,72,3,1,2.0
46,185,39812,3,0,30,172793,8,0.677334,72,3,1,2.0
47,185,11520,4,0,50,172793,8,0.677334,72,3,1,2.0
48,185,41556,5,0,15,172793,8,0.677334,72,3,1,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1172128,3420383,46820,11,1,15,173431,6,1.321906,14,1,15,5.0
1172129,3420383,24830,12,0,15,173431,6,1.321906,14,1,15,5.0
1172130,3420383,11507,13,0,30,173431,6,1.321906,14,1,15,5.0
1172131,3420383,42768,14,0,15,173431,6,1.321906,14,1,15,5.0
1172132,3420383,42110,15,1,15,173431,6,1.321906,14,1,15,5.0

In [7]:
# select products that were bought by different customers
p = {uid: {"cnt": 0, "users": set()} for uid in subset_df["product_id"].values}
 
for _, line in subset_df.iterrows():
    p_uid = int(line["product_id"])
    p[p_uid]["cnt"] += 1
    p[p_uid]["users"].add(int(line["user_id"]))

for uid, prod in p.items():
    p[uid]["users"] = len(p[uid]["users"])

data_matrix = [[uid, *p[uid].values()] for uid in p.keys()]

t3 = pd.DataFrame(data_matrix, columns=["product_id", "count", "n_users"])
t3

      product_id  count  n_users
0          23165     37       10
1          24964    611       32
2          39812     79       17
3          11520     84        6
4          41556     12        6
...          ...    ...      ...
6113       31564      1        1
6114       15975      1        1
6115       32478      1        1
6116       48415      1        1
6117       11507      1        1

[6118 rows x 3 columns]

In [8]:
#products_to_remove = t3[(t3["n_users"] / n_users < 0.001)]["product_id"]
products_to_remove = t3[(t3["n_users"] / t3["n_users"].sum()) < 0.0001]["product_id"]
n_deleted_products = len(products_to_remove)
subset_df_prime = subset_df.drop(subset_df[subset_df["product_id"].isin(products_to_remove)].index)
print("Removing {} products helped to remove {} orders".format(n_deleted_products, len(subset_df) - len(subset_df_prime)))
subset_df_prime

Removing 3629 products helped to remove 15534 orders

,order_id,product_id,add_to_cart_order,reordered,special,user_id,store_id,distance,order_number,order_dow,order_hour_of_day,days_since_prior_order
44,185,23165,1,1,0,172793,8,0.677334,72,3,1,2.0
45,185,24964,2,1,0,172793,8,0.677334,72,3,1,2.0
46,185,39812,3,0,30,172793,8,0.677334,72,3,1,2.0
47,185,11520,4,0,50,172793,8,0.677334,72,3,1,2.0
48,185,41556,5,0,15,172793,8,0.677334,72,3,1,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1172126,3420383,36076,9,1,0,173431,6,1.321906,14,1,15,5.0
1172128,3420383,46820,11,1,15,173431,6,1.321906,14,1,15,5.0
1172129,3420383,24830,12,0,15,173431,6,1.321906,14,1,15,5.0
1172131,3420383,42768,14,0,15,173431,6,1.321906,14,1,15,5.0
1172132,3420383,42110,15,1,15,173431,6,1.321906,14,1,15,5.0

In [19]:
t1 = duckdb.query("select user_id, count(order_id) AS n_orders from subset_df_prime group by user_id, order_id").df().sort_values(by="n_orders")
users_to_drop = t1[(t1["n_orders"] <= 1)]["user_id"].unique()
subset_df_prime = subset_df_prime.drop(subset_df_prime[subset_df_prime["user_id"].isin(users_to_drop)].index)
subset_df_prime

,order_id,product_id,add_to_cart_order,reordered,special,user_id,store_id,distance,order_number,order_dow,order_hour_of_day,days_since_prior_order
44,185,23165,1,1,0,172793,8,0.677334,72,3,1,2.0
45,185,24964,2,1,0,172793,8,0.677334,72,3,1,2.0
46,185,39812,3,0,30,172793,8,0.677334,72,3,1,2.0
47,185,11520,4,0,50,172793,8,0.677334,72,3,1,2.0
48,185,41556,5,0,15,172793,8,0.677334,72,3,1,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1172126,3420383,36076,9,1,0,173431,6,1.321906,14,1,15,5.0
1172128,3420383,46820,11,1,15,173431,6,1.321906,14,1,15,5.0
1172129,3420383,24830,12,0,15,173431,6,1.321906,14,1,15,5.0
1172131,3420383,42768,14,0,15,173431,6,1.321906,14,1,15,5.0
1172132,3420383,42110,15,1,15,173431,6,1.321906,14,1,15,5.0

In [27]:
from collections import deque
t1 = duckdb.query("select user_id, count(order_id) AS n_orders from subset_df_prime group by user_id, order_id").df().sort_values(by="n_orders")
user_queue = deque(t1["user_id"].values)

keepinmind = r1[""]
n_rows = 0
while n_rows < n_target_rows:
    cur_uid = user_queue.popleft()

user_queue
# final_data = []
# for tup in t1.itertuples():
#     cur_uid = tup.user_id
#     print(tup.user_id)
#     break

deque([10934,
       185080,
       102339,
       54804,
       185080,
       4693,
       89064,
       95338,
       102339,
       102339,
       47666,
       69995,
       102339,
       95338,
       50087,
       10934,
       95338,
       10934,
       69995,
       10934,
       69995,
       178107,
       99727,
       166786,
       47666,
       99727,
       173431,
       69995,
       69995,
       157548,
       53684,
       54804,
       53684,
       10934,
       102339,
       185080,
       95338,
       113588,
       102339,
       10934,
       178107,
       95338,
       204455,
       102339,
       204455,
       121860,
       181970,
       47666,
       69995,
       102339,
       47666,
       121860,
       181970,
       102339,
       165294,
       113588,
       181970,
       69995,
       4693,
       121860,
       131093,
       185080,
       95338,
       178107,
       4693,
       10934,
       132022,
       172793,
       10934,
       47666,
       89064,
       178107,
       53684,
       148902,
       148902,
       10934,
       136104,
       76678,
       102339,
       4693,
       201776,
       47666,
       4693,
       210,
       181970,
       165294,
       95967,
       201776,
       81678,
       178107,
       178107,
       114958,
       1563,
       53684,
       69995,
       113588,
       165294,
       99727,
       178107,
       204455,
       201776,
       168904,
       185080,
       185080,
       201776,
       178107,
       95338,
       10934,
       175627,
       181970,
       175627,
       204455,
       99727,
       95967,
       113588,
       165294,
       47666,
       201776,
       10934,
       4693,
       131093,
       102339,
       148902,
       95338,
       4693,
       136104,
       10934,
       81678,
       168904,
       186704,
       10934,
       165294,
       81678,
       102339,
       4693,
       4693,
       53684,
       201776,
       102339,
       50087,
       148902,
       204455,
       178107,
       10934,
       121860,
       69995,
       89064,
       47666,
       181970,
       165294,
       178107,
       113588,
       95338,
       102339,
       50087,
       95967,
       143352,
       114958,
       178107,
       204455,
       185080,
       10934,
       165294,
       95338,
       178107,
       121860,
       95338,
       89064,
       201776,
       69995,
       210,
       165294,
       131093,
       95338,
       81678,
       81678,
       189425,
       95338,
       81678,
       102339,
       157548,
       114958,
       113588,
       165294,
       47666,
       136104,
       4693,
       69995,
       178107,
       81678,
       118221,
       10934,
       136104,
       136104,
       99727,
       4693,
       204455,
       102339,
       165294,
       102339,
       95338,
       1563,
       185080,
       118221,
       95338,
       136104,
       102339,
       53684,
       113588,
       99727,
       168904,
       148902,
       53684,
       201776,
       113588,
       204455,
       50087,
       102339,
       102339,
       1563,
       81678,
       185080,
       4693,
       95338,
       99727,
       210,
       143352,
       99727,
       50087,
       4693,
       178107,
       168904,
       76678,
       201776,
       114958,
       54804,
       178107,
       95338,
       95338,
       76678,
       136104,
       132022,
       118221,
       99727,
       148902,
       53684,
       50087,
       148902,
       178107,
       178107,
       157548,
       118221,
       172793,
       89064,
       81678,
       113588,
       81678,
       89064,
       141736,
       114958,
       50087,
       89064,
       81678,
       81678,
       173431,
       148902,
       47666,
       95338,
       69995,
       185080,
       53684,
       168904,
       114958,
       10934,
       157548,
       150840,
       178107,
       59819,
       81678,
       146147,
       185080,
       178107,
       10934,
       69995,
       99727,
       81678,
       185080,
       185080,
       173431,
       131093,
       204455,
       114958,
       157548,
       81678,
       114958,
       181970,
       81678,
       69995,
       172793,
       47666,
       10934,
       178107,
       121860,
       69995,
       10934,
       69995,
       81678,
       47666,
       81678,
       168904,
       102339,
       4693,
       69995,
       178107,
       178107,
       89064,
       4693,
       10934,
       50087,
       118221,
       102339,
       114958,
       99727,
       81678,
       143352,
       178107,
       81678,
       172793,
       4693,
       4693,
       81678,
       99727,
       99727,
       165294,
       165294,
       47666,
       69995,
       41356,
       1563,
       81678,
       148902,
       50087,
       10934,
       102339,
       69995,
       146147,
       89064,
       157548,
       173431,
       143352,
       118221,
       114958,
       99727,
       76678,
       148902,
       50087,
       81678,
       146147,
       204455,
       165294,
       99727,
       81678,
       136104,
       81678,
       185080,
       146147,
       10934,
       81678,
       76678,
       95967,
       89064,
       146147,
       178107,
       148902,
       201776,
       165294,
       4693,
       143352,
       185080,
       114958,
       81678,
       146147,
       81678,
       81678,
       102339,
       148902,
       143352,
       102339,
       181970,
       136104,
       204455,
       10934,
       10934,
       201776,
       53684,
       178107,
       69995,
       99727,
       204455,
       114958,
       131093,
       10934,
       143352,
       136104,
       121860,
       1563,
       131093,
       99727,
       50087,
       148902,
       99727,
       178107,
       114958,
       148902,
       102339,
       178107,
       95338,
       81678,
       95338,
       204455,
       146147,
       141736,
       118221,
       10934,
       201776,
       95338,
       148902,
       186704,
       50087,
       99727,
       102339,
       181970,
       54804,
       95338,
       173431,
       204455,
       136104,
       185080,
       173431,
       210,
       81678,
       204455,
       114958,
       181970,
       81678,
       73080,
       186704,
       69995,
       95338,
       181970,
       81678,
       178107,
       113588,
       148902,
       69995,
       4693,
       157548,
       4693,
       165294,
       69995,
       50087,
       69995,
       204455,
       53684,
       69995,
       157548,
       168904,
       178107,
       178107,
       69995,
       131093,
       114958,
       54804,
       10934,
       201776,
       165294,
       4693,
       172793,
       47666,
       136104,
       95967,
       201776,
       54804,
       132022,
       189425,
       131093,
       185080,
       89064,
       181970,
       54804,
       148902,
       173431,
       81678,
       81678,
       4693,
       201776,
       53684,
       204455,
       81678,
       165294,
       81678,
       89064,
       81678,
       186704,
       81678,
       81678,
       136104,
       53684,
       178107,
       81678,
       173431,
       132022,
       54804,
       118221,
       89064,
       165294,
       210,
       41356,
       102339,
       69995,
       165294,
       168904,
       113588,
       10934,
       204455,
       178107,
       141736,
       69995,
       178107,
       131093,
       69995,
       136104,
       99727,
       76678,
       178107,
       50087,
       143352,
       141736,
       4693,
       173431,
       114958,
       47666,
       102339,
       157548,
       4693,
       69995,
       69995,
       114958,
       131093,
       69995,
       114958,
       69995,
       10934,
       173431,
       99727,
       69995,
       50087,
       95338,
       10934,
       10934,
       10934,
       99727,
       53684,
       181970,
       204455,
       204455,
       89064,
       175627,
       172793,
       89064,
       178107,
       114958,
       114958,
       81678,
       95338,
       102339,
       81678,
       136104,
       81678,
       47666,
       157548,
       100787,
       157548,
       204455,
       178107,
       210,
       178107,
       121860,
       4693,
       6710,
       168904,
       114958,
       102339,
       81678,
       178107,
       210,
       81678,
       181970,
       41356,
       168904,
       172793,
       157548,
       136104,
       131093,
       4693,
       69995,
       10934,
       50087,
       81678,
       53684,
       102339,
       173431,
       185080,
       95338,
       53684,
       4693,
       148902,
       81678,
       165294,
       50087,
       81678,
       148902,
       54804,
       113588,
       114958,
       165294,
       102339,
       89064,
       143352,
       47666,
       4693,
       53684,
       50087,
       53684,
       10934,
       204455,
       146147,
       4693,
       178107,
       178107,
       210,
       4693,
       173431,
       81678,
       69995,
       178107,
       201776,
       99727,
       99727,
       69995,
       181970,
       47666,
       89064,
       113588,
       102339,
       181970,
       102339,
       178107,
       53684,
       186704,
       50087,
       59819,
       10934,
       10934,
       50087,
       1563,
       201776,
       47666,
       81678,
       210,
       81678,
       81678,
       146147,
       4693,
       81678,
       148902,
       95338,
       121860,
       10934,
       121860,
       121860,
       81678,
       81678,
       81678,
       4693,
       136104,
       204455,
       41356,
       201776,
       204455,
       47666,
       114958,
       81678,
       173431,
       41356,
       95338,
       95338,
       148902,
       168904,
       10934,
       136104,
       178107,
       102339,
       81678,
       114958,
       131093,
       146147,
       81678,
       10934,
       54804,
       99727,
       121860,
       10934,
       10934,
       54804,
       157548,
       53684,
       95338,
       54804,
       59819,
       157548,
       185080,
       99727,
       168904,
       81678,
       81678,
       143352,
       47666,
       95338,
       113588,
       118221,
       47666,
       181970,
       89064,
       50087,
       181970,
       204455,
       89064,
       143352,
       47666,
       102339,
       201776,
       81678,
       178107,
       141736,
       136104,
       181970,
       157548,
       173431,
       136104,
       121860,
       81678,
       102339,
       204455,
       210,
       141736,
       175627,
       81678,
       95338,
       10934,
       95338,
       89064,
       76678,
       136104,
       69995,
       47666,
       89064,
       148902,
       118221,
       168904,
       168904,
       164055,
       95338,
       53684,
       113588,
       148902,
       95338,
       165294,
       132022,
       76678,
       178107,
       81678,
       95338,
       50087,
       81678,
       165294,
       178107,
       121860,
       181970,
       10934,
       69995,
       185080,
       81678,
       50087,
       157548,
       102339,
       178107,
       54485,
       178107,
       157548,
       185080,
       81678,
       165294,
       172793,
       114958,
       168904,
       157548,
       81678,
       4693,
       113588,
       132022,
       76678,
       81678,
       114958,
       178107,
       181970,
       50087,
       168904,
       10934,
       178107,
       95338,
       173431,
       148902,
       47666,
       114958,
       95338,
       157548,
       178107,
       178107,
       76678,
       118221,
       148902,
       4693,
       95338,
       76678,
       165294,
       136104,
       89064,
       172793,
       114958,
       185080,
       114958,
       141736,
       173431,
       204455,
       95338,
       136104,
       165294,
       99727,
       165294,
       118221,
       10934,
       114958,
       81678,
       54804,
       172793,
       102339,
       113588,
       131093,
       173431,
       168904,
       114958,
       102339,
       95338,
       81678,
       81678,
       173431,
       118221,
       102339,
       4693,
       178107,
       178107,
       201776,
       81678,
       69995,
       143352,
       69995,
       50087,
       143352,
       89064,
       81678,
       103593,
       41356,
       165294,
       89064,
       165294,
       54804,
       136104,
       10934,
       89064,
       173431,
       69995,
       181970,
       201776,
       210,
       10934,
       168904,
       1563,
       131093,
       136104,
       102339,
       201776,
       204455,
       157548,
       95338,
       178107,
       89064,
       178107,
       204455,
       175627,
       114958,
       141736,
       4693,
       95338,
       148902,
       69995,
       47666,
       118221,
       143352,
       102339,
       118221,
       81678,
       143352,
       69995,
       47666,
       173431,
       141736,
       41356,
       47666,
       168904,
       4693,
       146147,
       157548,
       69995,
       148902,
       141736,
       89064,
       148902,
       210,
       201776,
       102339,
       54804,
       172793,
       148902,
       10934,
       141736,
       181970,
       168904,
       114958,
       47666,
       54804,
       95967,
       81678,
       4693,
       102339,
       204455,
       136104,
       185080,
       54804,
       118221,
       143352,
       173431,
       131093,
       81678,
       172793,
       102339,
       173431,
       113588,
       47666,
       47666,
       204455,
       185080,
       185080,
       114958,
       143352,
       118221,
       47666,
       41356,
       102339,
       10934,
       102339,
       148902,
       168904,
       114958,
       118221,
       10934,
       204455,
       201776,
       178107,
       4693,
       95338,
       181970,
       81678,
       157548,
       157548,
       99727,
       41356,
       50087,
       157548,
       186704,
       ...])

In [34]:
t1.loc[:, ["user_id", "n_orders"]].to_dict()

{'user_id': {4417: 10934,
  2131: 185080,
  1185: 102339,
  1765: 54804,
  4444: 185080,
  1727: 4693,
  3534: 89064,
  4644: 95338,
  1692: 102339,
  4832: 102339,
  326: 47666,
  1124: 69995,
  5168: 102339,
  4603: 95338,
  4406: 50087,
  4527: 10934,
  1487: 95338,
  4418: 10934,
  4230: 69995,
  2985: 10934,
  4782: 69995,
  3972: 178107,
  5162: 99727,
  4803: 166786,
  2136: 47666,
  199: 99727,
  4802: 173431,
  2724: 69995,
  2024: 69995,
  165: 157548,
  725: 53684,
  745: 54804,
  1831: 53684,
  1750: 10934,
  1707: 102339,
  1701: 185080,
  3885: 95338,
  1557: 113588,
  3945: 102339,
  1500: 10934,
  1471: 178107,
  1467: 95338,
  4840: 204455,
  3795: 102339,
  4430: 204455,
  2299: 121860,
  4563: 181970,
  3028: 47666,
  2933: 69995,
  5228: 102339,
  2869: 47666,
  2857: 121860,
  3240: 181970,
  3250: 102339,
  4498: 165294,
  4635: 113588,
  4646: 181970,
  2731: 69995,
  2730: 4693,
  4651: 121860,
  4681: 131093,
  3378: 185080,
  3427: 95338,
  4468: 178107,
  552: 4693,
  2539: 10934,
  4711: 132022,
  252: 172793,
  583: 10934,
  4726: 47666,
  3509: 89064,
  605: 178107,
  4443: 53684,
  2314: 148902,
  1402: 148902,
  2252: 10934,
  5102: 136104,
  3078: 76678,
  4253: 102339,
  1272: 4693,
  1351: 201776,
  5097: 47666,
  1004: 4693,
  27: 210,
  1172: 181970,
  4145: 165294,
  72: 95967,
  1203: 201776,
  4513: 81678,
  465: 178107,
  2808: 178107,
  2236: 114958,
  2242: 1563,
  639: 53684,
  1190: 69995,
  938: 113588,
  5173: 165294,
  631: 99727,
  4500: 178107,
  4121: 204455,
  218: 201776,
  3584: 168904,
  4112: 185080,
  3660: 185080,
  970: 201776,
  2195: 178107,
  2032: 95338,
  2846: 10934,
  3733: 175627,
  3731: 181970,
  3384: 175627,
  2047: 204455,
  2841: 99727,
  2827: 95967,
  2826: 113588,
  327: 165294,
  2115: 47666,
  1211: 201776,
  2151: 10934,
  2156: 4693,
  1042: 131093,
  1192: 102339,
  3679: 148902,
  4098: 95338,
  3579: 4693,
  4284: 136104,
  1160: 10934,
  2096: 81678,
  942: 168904,
  4659: 186704,
  257: 10934,
  4671: 165294,
  2671: 81678,
  263: 102339,
  3460: 4693,
  2651: 4693,
  5043: 53684,
  519: 201776,
  3438: 102339,
  2552: 50087,
  4687: 148902,
  956: 204455,
  23: 178107,
  5255: 10934,
  1112: 121860,
  3404: 69995,
  280: 89064,
  5191: 47666,
  495: 181970,
  3488: 165294,
  951: 178107,
  4150: 113588,
  4078: 95338,
  3567: 102339,
  5342: 50087,
  2772: 95967,
  228: 143352,
  5273: 114958,
  2330: 178107,
  2337: 204455,
  4276: 185080,
  2302: 10934,
  2370: 165294,
  5030: 95338,
  944: 178107,
  4750: 121860,
  603: 95338,
  4193: 89064,
  18: 201776,
  5047: 69995,
  2442: 210,
  4461: 165294,
  2757: 131093,
  2775: 95338,
  4206: 81678,
  3881: 81678,
  1469: 189425,
  887: 95338,
  792: 81678,
  5099: 102339,
  3876: 157548,
  416: 114958,
  793: 113588,
  3867: 165294,
  4996: 47666,
  4971: 136104,
  129: 4693,
  3843: 69995,
  5310: 178107,
  3834: 81678,
  1699: 118221,
  3889: 10934,
  3890: 136104,
  2974: 136104,
  3147: 99727,
  833: 4693,
  815: 204455,
  814: 102339,
  1332: 165294,
  3150: 102339,
  407: 95338,
  1587: 1563,
  5243: 185080,
  3912: 118221,
  1588: 95338,
  4938: 136104,
  1608: 102339,
  1638: 53684,
  1647: 113588,
  773: 99727,
  5132: 168904,
  346: 148902,
  3815: 53684,
  1841: 201776,
  4880: 113588,
  156: 204455,
  157: 50087,
  440: 102339,
  159: 102339,
  3785: 1563,
  1801: 81678,
  5140: 185080,
  3769: 4693,
  5017: 95338,
  166: 99727,
  167: 210,
  1941: 143352,
  1952: 99727,
  1384: 50087,
  3205: 4693,
  3108: 178107,
  4892: 168904,
  1277: 76678,
  141: 201776,
  1293: 114958,
  1287: 54804,
  4983: 178107,
  1420: 95338,
  2904: 95338,
  4367: 76678,
  997: 136104,
  6: 132022,
  1792: 118221,
  1012: 99727,
  2998: 148902,
  3027: 53684,
  2587: 50087,
  510: 148902,
  397: 178107,
  2622: 178107,
  5236: 157548,
  2594: 118221,
  1002: 172793,
  3010: 89064,
  383: 81678,
  2626: 113588,
  5208: 81678,
  1024: 89064,
  2692: 141736,
  2864: 114958,
  1023: 50087,
  2874: 89064,
  2811: 81678,
  2809: 81678,
  4592: 173431,
  467: 148902,
  4622: 47666,
  427: 95338,
  473: 69995,
  2941: 185080,
  2942: 53684,
  2951: 168904,
  2965: 114958,
  2967: 10934,
  2851: 157548,
  1043: 150840,
  2766: 178107,
  968: 59819,
  963: 81678,
  2729: 146147,
  491: 185080,
  4581: 178107,
  982: 10934,
  4690: 69995,
  1354: 99727,
  2567: 81678,
  1709: 185080,
  1710: 185080,
  1298: 173431,
  1774: 131093,
  1786: 204455,
  4899: 114958,
  1795: 157548,
  1252: 81678,
  5131: 114958,
  734: 181970,
  4846: 81678,
  713: 69995,
  2014: 172793,
  5149: 47666,
  2023: 10934,
  2035: 178107,
  1237: 121860,
  1213: 69995,
  5095: 10934,
  692: 69995,
  4918: 81678,
  1328: 47666,
  875: 81678,
  1404: 168904,
  1424: 102339,
  4974: 4693,
  1443: 69995,
  853: 178107,
  1454: 178107,
  1349: 89064,
  780: 4693,
  1478: 10934,
  1334: 50087,
  1505: 118221,
  1333: 102339,
  1536: 114958,
  1586: 99727,
  4926: 81678,
  1688: 143352,
  787: 178107,
  1347: 81678,
  2574: 172793,
  690: 4693,
  4805: 4693,
  947: 81678,
  2460: 99727,
  2463: 99727,
  2466: 165294,
  2467: 165294,
  5185: 47666,
  2498: 69995,
  564: 41356,
  4728: 1563,
  562: 81678,
  954: 148902,
  557: 50087,
  2553: 10934,
  553: 102339,
  955: 69995,
  2558: 146147,
  549: 89064,
  2559: 157548,
  560: 173431,
  377: 143352,
  4733: 118221,
  945: 114958,
  2166: 99727,
  1191: 76678,
  662: 148902,
  2211: 50087,
  2232: 81678,
  932: 146147,
  646: 204455,
  935: 165294,
  4738: 99727,
  2297: 81678,
  1362: 136104,
  2316: 81678,
  2320: 185080,
  5177: 146147,
  2361: 10934,
  4751: 81678,
  2388: 76678,
  2396: 95967,
  625: 89064,
  2315: 146147,
  2672: 178107,
  990: 148902,
  145: 201776,
  3812: 165294,
  5294: 4693,
  135: 143352,
  3336: 185080,
  3838: 114958,
  3855: 81678,
  3323: 146147,
  4492: 81678,
  3866: 81678,
  3550: 102339,
  3903: 148902,
  4335: 143352,
  148: 102339,
  3314: 181970,
  3300: 136104,
  98: 204455,
  5252: 10934,
  4502: 10934,
  5250: 201776,
  3982: 53684,
  4519: 178107,
  3986: 69995,
  330: 99727,
  3989: 204455,
  337: 114958,
  4316: 131093,
  340: 10934,
  3305: 143352,
  80: 136104,
  151: 121860,
  3791: 1563,
  3562: 131093,
  3574: 99727,
  3575: 50087,
  3585: 148902,
  4421: 99727,
  3605: 178107,
  3521: 114958,
  3512: 148902,
  3618: 102339,
  3631: 178107,
  3504: 95338,
  201: 81678,
  3669: 95338,
  154: 204455,
  3676: 146147,
  3468: 141736,
  3688: 118221,
  190: 10934,
  3693: 201776,
  3694: 95338,
  4467: 148902,
  3444: 186704,
  3437: 50087,
  3432: 99727,
  4383: 102339,
  3391: 181970,
  3388: 54804,
  3762: 95338,
  256: 173431,
  3200: 204455,
  3891: 136104,
  4313: 185080,
  3120: 173431,
  4032: 210,
  4090: 81678,
  4196: 204455,
  4095: 114958,
  4146: 181970,
  3153: 81678,
  3113: 73080,
  4019: 186704,
  4199: 69995,
  4285: 95338,
  3136: 181970,
  4083: 81678,
  78: 178107,
  4265: 113588,
  4267: 148902,
  77: 69995,
  370: 4693,
  4541: 157548,
  4247: 4693,
  5034: 165294,
  3716: 69995,
  5033: 50087,
  5152: 69995,
  2068: 204455,
  5336: 53684,
  2062: 69995,
  5151: 157548,
  3737: 168904,
  182: 178107,
  180: 178107,
  1373: 69995,
  3754: 131093,
  174: 114958,
  736: 54804,
  1876: 10934,
  4871: 201776,
  1916: 165294,
  4863: 4693,
  3767: 172793,
  4842: 47666,
  1943: 136104,
  38: 95967,
  1963: 201776,
  3758: 54804,
  2004: 132022,
  185: 189425,
  2008: 131093,
  4858: 185080,
  4816: 89064,
  5158: 181970,
  3101: 54804,
  3636: 148902,
  13: 173431,
  2238: 81678,
  2241: 81678,
  637: 4693,
  1037: 201776,
  4786: 53684,
  3607: 204455,
  2288: 81678,
  629: 165294,
  5063: 81678,
  2290: 89064,
  4221: 81678,
  1003: 186704,
  4235: 81678,
  4243: 81678,
  3553: 136104,
  647: 53684,
  4395: 178107,
  2231: 81678,
  2206: 173431,
  1128: 132022,
  4809: 54804,
  2139: 118221,
  4375: 89064,
  4153: 165294,
  2155: 210,
  2163: 41356,
  4166: 102339,
  5041: 69995,
  1086: 165294,
  5163: 168904,
  196: 113588,
  3673: 10934,
  5049: 204455,
  659: 178107,
  657: 141736,
  5054: 69995,
  5170: 178107,
  740: 131093,
  748: 69995,
  744: 136104,
  845: 99727,
  4327: 76678,
  1482: 178107,
  3951: 50087,
  1497: 143352,
  1501: 141736,
  837: 4693,
  898: 173431,
  836: 114958,
  1302: 47666,
  1280: 102339,
  1516: 157548,
  1262: 4693,
  5115: 69995,
  1520: 69995,
  1526: 114958,
  4952: 131093,
  3969: 69995,
  1534: 114958,
  848: 69995,
  4021: 10934,
  1391: 173431,
  1392: 99727,
  81: 69995,
  880: 50087,
  1411: 95338,
  1416: 10934,
  881: 10934,
  1417: 10934,
  1418: 99727,
  5314: 53684,
  3993: 181970,
  1425: 204455,
  1428: 204455,
  1438: 89064,
  4973: 175627,
  4017: 172793,
  5322: 89064,
  89: 178107,
  4879: 114958,
  912: 114958,
  3933: 81678,
  3841: 95338,
  1204: 102339,
  3823: 81678,
  4914: 136104,
  4911: 81678,
  1768: 47666,
  4099: 157548,
  4102: 100787,
  3805: 157548,
  1183: 204455,
  3794: 178107,
  1830: 210,
  153: 178107,
  1371: 121860,
  1181: 4693,
  4113: 6710,
  158: 168904,
  778: 114958,
  1538: 102339,
  3851: 81678,
  1694: 178107,
  3931: 210,
  1554: 81678,
  1562: 181970,
  1563: 41356,
  5328: 168904,
  1240: 172793,
  917: 157548,
  4342: 136104,
  918: 131093,
  1655: 4693,
  5307: 69995,
  4925: 10934,
  5305: 50087,
  118: 81678,
  3871: 53684,
  5329: 102339,
  1236: 173431,
  781: 185080,
  2343: 95338,
  3099: 53684,
  2781: 4693,
  2970: 148902,
  4536: 81678,
  2976: 165294,
  3431: 50087,
  4537: 81678,
  5259: 148902,
  4526: 54804,
  3218: 113588,
  2988: 114958,
  2862: 165294,
  335: 102339,
  2537: 89064,
  2704: 143352,
  3224: 47666,
  2717: 4693,
  4700: 53684,
  2996: 50087,
  4606: 53684,
  3180: 10934,
  993: 204455,
  2515: 146147,
  2512: 4693,
  4707: 178107,
  568: 178107,
  570: 210,
  3416: 4693,
  3465: 173431,
  2684: 81678,
  545: 69995,
  2635: 178107,
  2634: 201776,
  5204: 99727,
  3357: 99727,
  4528: 69995,
  527: 181970,
  2611: 47666,
  2610: 89064,
  3167: 113588,
  4488: 102339,
  2657: 181970,
  2595: 102339,
  3372: 178107,
  4595: 53684,
  2895: 186704,
  3166: 50087,
  3387: 59819,
  2676: 10934,
  4670: 10934,
  5196: 50087,
  2578: 1563,
  4691: 201776,
  2682: 47666,
  414: 81678,
  4477: 210,
  3410: 81678,
  4710: 81678,
  4545: 146147,
  3058: 4693,
  4734: 81678,
  4515: 148902,
  2407: 95338,
  2405: 121860,
  3507: 10934,
  3273: 121860,
  3466: 121860,
  3306: 81678,
  3061: 81678,
  4739: 81678,
  2395: 4693,
  2802: 136104,
  3110: 204455,
  2765: 41356,
  4447: 201776,
  4746: 204455,
  311: 47666,
  3303: 114958,
  3537: 81678,
  313: 173431,
  2778: 41356,
  5219: 95338,
  3084: 95338,
  233: 148902,
  2359: 168904,
  3098: 10934,
  2390: 136104,
  4497: 178107,
  3184: 102339,
  3030: 81678,
  4550: 114958,
  2456: 131093,
  3111: 146147,
  3485: 81678,
  3040: 10934,
  306: 54804,
  4613: 99727,
  5269: 121860,
  3047: 10934,
  5267: 10934,
  5213: 54804,
  2477: 157548,
  580: 53684,
  2799: 95338,
  2916: 54804,
  3228: 59819,
  1356: 157548,
  4009: 185080,
  2875: 99727,
  2910: 168904,
  2786: 81678,
  1350: 81678,
  3248: 143352,
  4016: 47666,
  1503: 95338,
  2922: 113588,
  4609: 118221,
  2926: 47666,
  4010: 181970,
  3235: 89064,
  4975: 50087,
  3198: 181970,
  3967: 204455,
  4616: 89064,
  2878: 143352,
  2820: 47666,
  4315: 102339,
  4597: 201776,
  3277: 81678,
  1468: 178107,
  4605: 141736,
  4988: 136104,
  2886: 181970,
  3971: 157548,
  3973: 173431,
  1494: 136104,
  2890: 121860,
  3949: 81678,
  1432: 102339,
  2891: 204455,
  4314: 210,
  3257: 141736,
  2887: 175627,
  2829: 81678,
  2344: 95338,
  4029: 10934,
  4171: 95338,
  3049: 89064,
  1110: 76678,
  3046: 136104,
  4162: 69995,
  3042: 47666,
  3039: 89064,
  3032: 148902,
  1148: 118221,
  4269: 168904,
  1152: 168904,
  3011: 164055,
  4273: 95338,
  4133: 53684,
  4278: 113588,
  4175: 148902,
  1170: 95338,
  4180: 165294,
  1066: 132022,
  5073: 76678,
  3103: 178107,
  3076: 81678,
  4226: 95338,
  4225: 50087,
  1014: 81678,
  1015: 165294,
  4251: 178107,
  3070: 121860,
  5065: 181970,
  3064: 10934,
  3062: 69995,
  3105: 185080,
  4184: 81678,
  4560: 50087,
  1073: 157548,
  4023: 102339,
  4114: 178107,
  2993: 54485,
  1269: 178107,
  4294: 157548,
  1276: 185080,
  4069: 81678,
  1278: 165294,
  2949: 172793,
  4058: 114958,
  4057: 168904,
  1295: 157548,
  4054: 81678,
  3172: 4693,
  4037: 113588,
  4997: 132022,
  1323: 76678,
  2938: 81678,
  4292: 114958,
  2994: 178107,
  2954: 181970,
  1504: 50087,
  4107: 168904,
  4283: 10934,
  1186: 178107,
  4103: 95338,
  2987: 173431,
  4539: 148902,
  5025: 47666,
  1221: 114958,
  1232: 95338,
  2968: 157548,
  4082: 178107,
  3155: 178107,
  3163: 76678,
  2960: 118221,
  1244: 148902,
  5013: 4693,
  2958: 95338,
  1632: 76678,
  1508: 165294,
  2538: 136104,
  2064: 89064,
  3458: 172793,
  2077: 114958,
  3719: 185080,
  2078: 114958,
  2079: 141736,
  2081: 173431,
  3463: 204455,
  2100: 95338,
  4818: 136104,
  3702: 165294,
  2117: 99727,
  2501: 165294,
  2140: 118221,
  3451: 10934,
  2481: 114958,
  4698: 81678,
  3727: 54804,
  3772: 172793,
  1923: 102339,
  2581: 113588,
  2570: 131093,
  1966: 173431,
  1975: 168904,
  1992: 114958,
  2566: 102339,
  3402: 95338,
  2017: 81678,
  3744: 81678,
  4386: 173431,
  2027: 118221,
  4696: 102339,
  3735: 4693,
  4833: 178107,
  4398: 178107,
  3483: 201776,
  3675: 81678,
  2253: 69995,
  3614: 143352,
  3611: 69995,
  2276: 50087,
  2284: 143352,
  3532: 89064,
  2292: 81678,
  3535: 103593,
  3538: 41356,
  4752: 165294,
  2312: 89064,
  2366: 165294,
  4432: 54804,
  4756: 136104,
  4442: 10934,
  3615: 89064,
  2401: 173431,
  2247: 69995,
  3627: 181970,
  2177: 201776,
  2191: 210,
  3489: 10934,
  2196: 168904,
  4458: 1563,
  4796: 131093,
  4725: 136104,
  3383: 102339,
  2204: 201776,
  4401: 204455,
  2220: 157548,
  4457: 95338,
  2426: 178107,
  3655: 89064,
  2233: 178107,
  2409: 204455,
  2435: 175627,
  3946: 114958,
  1915: 141736,
  1907: 4693,
  1610: 95338,
  3544: 148902,
  3894: 69995,
  2719: 47666,
  3320: 118221,
  1669: 143352,
  4923: 102339,
  2716: 118221,
  1679: 81678,
  4919: 143352,
  1687: 69995,
  4657: 47666,
  3868: 173431,
  2694: 141736,
  3863: 41356,
  2725: 47666,
  1700: 168904,
  3902: 4693,
  3318: 146147,
  1513: 157548,
  1515: 69995,
  1522: 148902,
  1533: 141736,
  2758: 89064,
  3940: 148902,
  1548: 210,
  4950: 201776,
  1550: 102339,
  2740: 54804,
  3923: 172793,
  3311: 148902,
  1572: 10934,
  3315: 141736,
  3916: 181970,
  1589: 168904,
  3324: 114958,
  4666: 47666,
  4355: 54804,
  2633: 95967,
  1837: 81678,
  2624: 4693,
  3368: 102339,
  2609: 204455,
  1852: 136104,
  4876: 185080,
  2607: 54804,
  1861: 118221,
  1868: 143352,
  3369: 173431,
  3778: 131093,
  2590: 81678,
  4868: 172793,
  1901: 102339,
  1829: 173431,
  1811: 113588,
  2641: 47666,
  3350: 47666,
  3331: 204455,
  3835: 185080,
  3339: 185080,
  3833: 114958,
  4917: 143352,
  3826: 118221,
  2666: 47666,
  1912: 41356,
  1735: 102339,
  1756: 10934,
  1762: 102339,
  4679: 148902,
  3346: 168904,
  2642: 114958,
  1784: 118221,
  3807: 10934,
  4364: 204455,
  2134: 201776,
  4246: 178107,
  101: 4693,
  700: 95338,
  948: 181970,
  146: 81678,
  5293: 157548,
  453: 157548,
  873: 99727,
  949: 41356,
  227: 50087,
  871: 157548,
  643: 186704,
  ...},
 'n_orders': {4417: 2,
  2131: 2,
  1185: 2,
  1765: 2,
  4444: 2,
  1727: 2,
  3534: 2,
  4644: 2,
  1692: 2,
  4832: 2,
  326: 2,
  1124: 2,
  5168: 2,
  4603: 2,
  4406: 2,
  4527: 2,
  1487: 2,
  4418: 2,
  4230: 2,
  2985: 2,
  4782: 2,
  3972: 2,
  5162: 3,
  4803: 3,
  2136: 3,
  199: 3,
  4802: 3,
  2724: 3,
  2024: 3,
  165: 3,
  725: 3,
  745: 3,
  1831: 3,
  1750: 3,
  1707: 3,
  1701: 3,
  3885: 3,
  1557: 3,
  3945: 3,
  1500: 3,
  1471: 3,
  1467: 3,
  4840: 3,
  3795: 3,
  4430: 3,
  2299: 3,
  4563: 3,
  3028: 3,
  2933: 3,
  5228: 3,
  2869: 3,
  2857: 3,
  3240: 3,
  3250: 3,
  4498: 3,
  4635: 3,
  4646: 3,
  2731: 3,
  2730: 3,
  4651: 3,
  4681: 3,
  3378: 3,
  3427: 3,
  4468: 3,
  552: 3,
  2539: 3,
  4711: 3,
  252: 3,
  583: 3,
  4726: 3,
  3509: 3,
  605: 3,
  4443: 3,
  2314: 3,
  1402: 3,
  2252: 3,
  5102: 3,
  3078: 3,
  4253: 3,
  1272: 3,
  1351: 3,
  5097: 3,
  1004: 3,
  27: 3,
  1172: 3,
  4145: 3,
  72: 3,
  1203: 3,
  4513: 4,
  465: 4,
  2808: 4,
  2236: 4,
  2242: 4,
  639: 4,
  1190: 4,
  938: 4,
  5173: 4,
  631: 4,
  4500: 4,
  4121: 4,
  218: 4,
  3584: 4,
  4112: 4,
  3660: 4,
  970: 4,
  2195: 4,
  2032: 4,
  2846: 4,
  3733: 4,
  3731: 4,
  3384: 4,
  2047: 4,
  2841: 4,
  2827: 4,
  2826: 4,
  327: 4,
  2115: 4,
  1211: 4,
  2151: 4,
  2156: 4,
  1042: 4,
  1192: 4,
  3679: 4,
  4098: 4,
  3579: 4,
  4284: 4,
  1160: 4,
  2096: 4,
  942: 4,
  4659: 4,
  257: 4,
  4671: 4,
  2671: 4,
  263: 4,
  3460: 4,
  2651: 4,
  5043: 4,
  519: 4,
  3438: 4,
  2552: 4,
  4687: 4,
  956: 4,
  23: 4,
  5255: 4,
  1112: 4,
  3404: 4,
  280: 4,
  5191: 4,
  495: 4,
  3488: 4,
  951: 4,
  4150: 4,
  4078: 4,
  3567: 4,
  5342: 4,
  2772: 4,
  228: 4,
  5273: 4,
  2330: 4,
  2337: 4,
  4276: 4,
  2302: 4,
  2370: 4,
  5030: 4,
  944: 4,
  4750: 4,
  603: 4,
  4193: 4,
  18: 4,
  5047: 4,
  2442: 4,
  4461: 4,
  2757: 4,
  2775: 4,
  4206: 4,
  3881: 4,
  1469: 4,
  887: 4,
  792: 4,
  5099: 4,
  3876: 4,
  416: 4,
  793: 4,
  3867: 4,
  4996: 4,
  4971: 4,
  129: 4,
  3843: 4,
  5310: 4,
  3834: 4,
  1699: 4,
  3889: 4,
  3890: 4,
  2974: 4,
  3147: 4,
  833: 4,
  815: 4,
  814: 4,
  1332: 4,
  3150: 4,
  407: 4,
  1587: 4,
  5243: 4,
  3912: 4,
  1588: 4,
  4938: 4,
  1608: 4,
  1638: 4,
  1647: 4,
  773: 4,
  5132: 4,
  346: 4,
  3815: 4,
  1841: 4,
  4880: 4,
  156: 4,
  157: 4,
  440: 4,
  159: 4,
  3785: 4,
  1801: 4,
  5140: 4,
  3769: 4,
  5017: 4,
  166: 4,
  167: 4,
  1941: 4,
  1952: 4,
  1384: 4,
  3205: 4,
  3108: 4,
  4892: 4,
  1277: 4,
  141: 4,
  1293: 4,
  1287: 4,
  4983: 4,
  1420: 4,
  2904: 4,
  4367: 4,
  997: 4,
  6: 4,
  1792: 4,
  1012: 4,
  2998: 5,
  3027: 5,
  2587: 5,
  510: 5,
  397: 5,
  2622: 5,
  5236: 5,
  2594: 5,
  1002: 5,
  3010: 5,
  383: 5,
  2626: 5,
  5208: 5,
  1024: 5,
  2692: 5,
  2864: 5,
  1023: 5,
  2874: 5,
  2811: 5,
  2809: 5,
  4592: 5,
  467: 5,
  4622: 5,
  427: 5,
  473: 5,
  2941: 5,
  2942: 5,
  2951: 5,
  2965: 5,
  2967: 5,
  2851: 5,
  1043: 5,
  2766: 5,
  968: 5,
  963: 5,
  2729: 5,
  491: 5,
  4581: 5,
  982: 5,
  4690: 5,
  1354: 5,
  2567: 5,
  1709: 5,
  1710: 5,
  1298: 5,
  1774: 5,
  1786: 5,
  4899: 5,
  1795: 5,
  1252: 5,
  5131: 5,
  734: 5,
  4846: 5,
  713: 5,
  2014: 5,
  5149: 5,
  2023: 5,
  2035: 5,
  1237: 5,
  1213: 5,
  5095: 5,
  692: 5,
  4918: 5,
  1328: 5,
  875: 5,
  1404: 5,
  1424: 5,
  4974: 5,
  1443: 5,
  853: 5,
  1454: 5,
  1349: 5,
  780: 5,
  1478: 5,
  1334: 5,
  1505: 5,
  1333: 5,
  1536: 5,
  1586: 5,
  4926: 5,
  1688: 5,
  787: 5,
  1347: 5,
  2574: 5,
  690: 5,
  4805: 5,
  947: 5,
  2460: 5,
  2463: 5,
  2466: 5,
  2467: 5,
  5185: 5,
  2498: 5,
  564: 5,
  4728: 5,
  562: 5,
  954: 5,
  557: 5,
  2553: 5,
  553: 5,
  955: 5,
  2558: 5,
  549: 5,
  2559: 5,
  560: 5,
  377: 5,
  4733: 5,
  945: 5,
  2166: 5,
  1191: 5,
  662: 5,
  2211: 5,
  2232: 5,
  932: 5,
  646: 5,
  935: 5,
  4738: 5,
  2297: 5,
  1362: 5,
  2316: 5,
  2320: 5,
  5177: 5,
  2361: 5,
  4751: 5,
  2388: 5,
  2396: 5,
  625: 5,
  2315: 5,
  2672: 5,
  990: 5,
  145: 5,
  3812: 5,
  5294: 5,
  135: 5,
  3336: 5,
  3838: 5,
  3855: 5,
  3323: 5,
  4492: 5,
  3866: 5,
  3550: 5,
  3903: 5,
  4335: 5,
  148: 5,
  3314: 5,
  3300: 5,
  98: 5,
  5252: 5,
  4502: 5,
  5250: 5,
  3982: 5,
  4519: 5,
  3986: 5,
  330: 5,
  3989: 5,
  337: 5,
  4316: 5,
  340: 5,
  3305: 5,
  80: 5,
  151: 5,
  3791: 5,
  3562: 5,
  3574: 5,
  3575: 5,
  3585: 5,
  4421: 5,
  3605: 5,
  3521: 5,
  3512: 5,
  3618: 5,
  3631: 5,
  3504: 5,
  201: 5,
  3669: 5,
  154: 5,
  3676: 5,
  3468: 5,
  3688: 5,
  190: 5,
  3693: 5,
  3694: 5,
  4467: 5,
  3444: 5,
  3437: 5,
  3432: 5,
  4383: 5,
  3391: 5,
  3388: 5,
  3762: 5,

In [41]:
t1[t1["user_id"] == 10934]

      user_id  n_orders
4417    10934         2
4527    10934         2
4418    10934         2
2985    10934         2
1750    10934         3
...       ...       ...
2085    10934        13
2218    10934        13
3934    10934        15
2295    10934        15
619     10934        18

[99 rows x 2 columns]

In [ ]:
# Rebalancer le nombre de commandes par client
removed_rows = len(merged_df) - len(subset_df)
n_target_rows = int(len(merged_df) * 0.05)
to_remove = len(subset_df) - n_target_rows
print("removed: {}\ntarget: {}\nto remove: {}".format(removed_rows, n_target_rows, to_remove))
thres = int(n_target_rows / n_users)
# People under the threshold must be kept
# Therefore the sum of their orders removed from the number of rows
mask = t1["n_orders"] <= thres
to_keep = mask.sum()
users_prime = t1[mask]["user_id"].unique()
pool_size = to_remove - to_keep
# This means customers with more than thres orders must share pool_size rows 
pool_size
(t1["n_orders"] <= thres).sum() == 136026
to_keep
#n_target_rows / 1370
#n_target_rows
#t1["n_orders"].describe()

In [ ]:
import scipy.optimize as opt

obj = np.poly1d([1., -2., 0.])

In [ ]:
merged_df[["product_id", "user_id"]].groupby("user_id").size().max() #apply(lambda x: list(x["product_id"]))
# n_products_per_user = merged_df[["product_id", "user_id"]].groupby("product_id").size()

# n_products_per_orders /= n_products_per_orders.sum()
#n_products_per_user.describe()

In [ ]:
# Order products by their priors
products_priors = test_df["product_id"].value_counts() / test_df["product_id"].value_counts().sum()
np.testing.assert_almost_equal(products_priors.sum(), 1.)
products_priors

In [ ]:
# Products with strong priors actually come from the same department
test_df[test_df["product_id"].isin(products_priors[0:5].index)][["product_name", "department", "aisle"]]

In [ ]:
department_priors = test_df[["department", "department_id"]].value_counts() / test_df["department"].value_counts().sum()
np.testing.assert_almost_equal(department_priors.sum(), 1.)
department_priors

In [ ]:
ds = {uid: {"priors": pct, "products": {}, "name": ""} for uid, pct in department_id_priors.to_dict().items()}
for department_id in ds.keys():
    mask = test_df["department_id"] == department_id
    ds[department_id]["name"] = test_df[mask]["department"].unique()[0]
    #product_ids = list(test_df["department_id" == department_id]["product_id"])
ds

In [ ]:
test_df[mask]["department"].unique()[0]

In [ ]:
# https://stackoverflow.com/questions/18138693/replicating-group-concat-for-pandas-dataframe
P = np.zeros((n_products, n_products))
order_prod_grouped_df = merged_df.groupby("order_id").apply(lambda x: list(x["product_id"]))

In [ ]:
for line in order_prod_grouped_df:
    for product in line:
        for other_product in line:
            P[product-1, other_product-1] += 1

In [ ]:
from sklearn.decomposition import PCA

pca = PCA(n_components=2)
pca.fit(P)
pca.explained_variance_ratio_

In [ ]:
order_prod_grouped_df